<html lang="en">
<head th:replace="~{base :: head}"><title>Novo</title></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
        <div th:replace="~{base :: titulo('Novo Pedido')}"></div>
        <form th:object="${requisicaoDTO}" action="novo" method="post">
            <div class="form-group">
                <label>Prduto: </label>
                <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control"  placeholder="Nome do Produto"/>
                <small>Informe o nome do Prdouto!!</small>
                <div class="invalid-feedback" th:errors="*{nomeProduto}">
                </div>
            </div>
            <div class="form-group mt-3">
                <label >Url: </label>
                <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control"  placeholder="Url do Produto"/>
                <small>Informe o site do produto que deseja!!</small>
                <div class="invalid-feedback" th:errors="*{urlProduto}">
                </div>
            </div>
            <div class="form-group">
                <label >Imagem: </label>
                <input th:field="*{imgProduto}" th:errorclass="is-invalid" class="form-control"  placeholder="Imagem do Produto"/>
                <small>Coloque url de uma imagem exemplo do produto!!</small>
                <div class="invalid-feedback" th:errors="*{imgProduto}">
                </div>
            </div>
            <div class="form-group">
                <label>Descrição: </label>
                <textarea th:field="*{descProduto}" class="form-control" placeholder="Descrição do Produto"></textarea>
                <small>Informe as características do Prdouto!!</small>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>